.contacts{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts section i{
    background: rgb(0, 77, 94);
    font-size: 34px;
    color: white
}
.contacts section{
    text-align: center;
    padding: 1.5em 3em 1.5em 3em;
}
.contacts section div p:nth-of-type(1){
    font-size: 24px;
    font-weight: bold;
}
@media screen and (max-width: 640px){
    .contacts{
        padding: 10rem 0 10rem 0;
    }
    .contacts section{
        padding-top: 0;
        padding-left: 0;
        padding-right: 1rem;
    }
}
@media screen and (max-width: 768px){
    .contacts{
        padding: 5rem 0 5rem 0;
    }
    .contacts section{
        padding-top: 0;
        padding-left: 0;
        padding-right: 3rem;
    }
}