<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <script src="{{site.baseurl}}/js/topscroll.js"></script>
</head>

<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="navbar">
        <li><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li><a href="{{site.baseurl}}/about.html">About</a></li>
        <li><a href="{{site.baseurl}}/top15.html">Top 15</a></li>
        <li><a href="top5.html">Top 5</a></li>
        <li><a href="contacts.html">Contact</a></li>
    </div>
    <main class='about'>
        <h1>These Cars Changed the Automotive World Forever</h1>
        <div class="about-text">

            <p> Cars have always been fashion statements, as well as tools. Several have been more influential than
                others,</p>
            <p> however, either by dint of their sales or some feat of engineering that went on to spread throughout
                the</p>
            <p> market. Add several of these advances together, and you build up the modern car.</p>
            <p> Whatever the modern car looks like, though, there are always new advances around the corner. Here’s a
                look</p>
            <p> at the 15 most influential cars of all time. Some models are still being produced today, and you can
                read</p>
            <p> about them in U.S. News & World Report's new vehicle rankings (although they look quite different from</p>
            <p> their groundbreaking forebears).</p>

            <p> Check out the world's TOP 15 most influential cars on the following slides.</p>
        </div>
    </main>
    <footer>
        <div class="social">
            <p>SOCIAL</p>
            <div class="social-link">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
        <div class="nav-footer">
            <div class="left">
                <li><span>Bulgaria</span></li>
                <li><span>© 2018 MPCR, Inc.</span></li>
                <li><span>All Rights Reserved</span></li>
            </div>
            <div class="right">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Company Details</a></li>
                <li><a href="#">Privacy & Cookie Policy</a></li>
            </div>
        </div>
    </footer>
</body>

</html>