<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <script src="{{site.baseurl}}/js/topscroll.js"></script>
</head>

<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <header>
        <p class="logo">
            <span style='color: white'>MP</span>
            <span style='color: white'>CR</span>
        </p>
    </header>

    <div class="navbar">
        <li><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li><a href="{{site.baseurl}}/about.html">About</a></li>
        <li><a href="{{site.baseurl}}/top15.html">Top 15</a></li>
        <li><a href="{{site.baseurl}}/top5.html">Top 5</a></li>
        <li><a href="{{site.baseurl}}/contacts.html">Contact</a></li>
    </div>

    <main>
        <div class="welcome">
            <p class='a'>WELCOME</p>
            <div class="border"></div>
            <p class='b'>To the most influential cars ever made</p>
            
            <div class="border"></div>
        </div>
    </main>


    <div class="sign">
        <p>Sign for more</p>
        <div>
            <input type="text" placeholder="email@mail.com">
            <a href="">Submit</a>
        </div>
    </div>

    <footer>
        <div class="social">
            <p>SOCIAL</p>
            <div class="social-link">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
        <div class="nav-footer">
            <div class="left">
                <li><span>Bulgaria</span></li>
                <li><span>© 2018 MPCR, Inc.</span></li>
                <li><span>All Rights Reserved</span></li>
            </div>
            <div class="right">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Company Details</a></li>
                <li><a href="#">Privacy & Cookie Policy</a></li>
            </div>
        </div>
    </footer>
</body>

</html>