<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top15</title>
    <link rel="stylesheet" href="{{site.baseurl}}//css/style.css">
    <script src="{{site.baseurl}}//js/topscroll.js"></script>
</head>

<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="navbar">
        <li><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li><a href="{{site.baseurl}}/about.html">About</a></li>
        <li><a href="{{site.baseurl}}/top15.html">Top 15</a></li>
        <li><a href="top5.html">Top 5</a></li>
        <li><a href="contacts.html">Contact</a></li>
    </div>

    <main id="top15">

        <div class="top15-head">
            <h2>TOP 15</h2>
            <h4>Most influential cars ever made</h4>
        </div>
            
        <section>
            <img src="{{site.baseurl}}/cars/15.jpg" alt="">
            <div class="desc">
                <p class="num"><span>01</span></p>
                <span class="count">15.</span>
                <p>2000 Mitsubishi Evo VI Makinen</p>
                <p>“Fast and completely confidence-inspiring. On real-world roads, there’s simply nothing quicker.”</p>
            </div>
        </section>

        <section>
            <img src="{{site.baseurl}}/cars/14.jpg" alt="">
            <div class="desc">
                <p class="num"><span>02</span></p>
                <span class="count">14.</span>
                <p>2012 Ford Fiesta ST</p>
                <p>“A blue-collar hero. Every control just sends tingling little signals to your fingertips.”</p>
            </div>
        </section>

        <section>
            <img src="{{site.baseurl}}/cars/13.jpg" alt="">
            <div class="desc">
                <p class="num"><span>03</span></p>
                <span class="count">13.</span>
                <p>2008 Nissan GT-R</p>
                <p>“In short, it’s extraordinary. One of the fastest cars ever made, and one of the best we’ve driven.”</p>
            </div>
        </section>
        <section>
            <img src="{{site.baseurl}}/cars/12.jpg" alt="">
            <div class="desc">
                <p class="num"><span>04</span></p>
                <span class="count">12.</span>
                <p>2001 Mini Cooper</p>
                <p>“Not only a design icon, but a car that makes driving feel like a completely natural activity.”</p>
            </div>
        </section>
        <section>
            <img src="{{site.baseurl}}/cars/11.jpg" alt="">
            <div class="desc">
                <p class="num"><span>05</span></p>
                <span class="count">11.</span>
                <p>2004 Toyota Prius</p>
                <p>“Like a rolling interactive energy-conservation video game. Somehow magical for a vegan’s car.”</p>
            </div>
        </section>
        <section>
            <img src="{{site.baseurl}}/cars/10.jpg" alt="">
            <div class="desc">
                <p class="num"><span>06</span></p>
                <span class="count">10.</span>
                <p>2010 Lexus LFAT</p>
                <p>“Expensive, over-specified and looks like an evil transformer. The greatest Japanese car? Maybe.”</p>
            </div>
        </section>
        <section>
            <img src="{{site.baseurl}}/cars/9.jpg" alt="">
            <div class="desc">
                <p class="num"><span>07</span></p>
                <span class="count">09.</span>
                <p>1993 Renault Clio Williams</p>
                <p>“A monster, a proper angry little hot hatch that, in so many ways, defines the genre.”</p>
            </div>
        </section>
        <section>
            <img src="{{site.baseurl}}/cars/8.jpg" alt="">
            <div class="desc">
                <p class="num"><span>08</span></p>
                <span class="count">08.</span>
                <p>1993 Porsche 911 993</p>
                <p>“It may have started out as little more than a sporty VW Beetle, but it is now the most complete car
                    on earth.”</p>
            </div>
        </section>
        <section>
            <img src="{{site.baseurl}}/cars/7.jpg" alt="">
            <div class="desc">
                <p class="num"><span>09</span></p>
                <span class="count">07.</span>
                <p>1998 Ford Focus</p>
                <p>“Proof a 5dr hatch can be not just a commodity, but something you enjoy and desire.”</p>
            </div>
        </section>
        <section>
            <img src="{{site.baseurl}}/cars/6.jpg" alt="">
            <div class="desc">
                <p class="num"><span>10</span></p>
                <span class="count">06.</span>
                <p>1999 BMW 320d</p>
                <p>“The best performing, best handling exec car. Justifiable with head and heart.”</p>
            </div>
        </section>
        <section>
            <img src="{{site.baseurl}}/cars/5.jpg" alt="">
            <div class="desc">
                <p class="num"><span>11</span></p>
                <span class="count">05.</span>
                <p>1996 Porsche Boxster</p>
                <p>“Driving position? Perfect. Engine? Perfect. Brakes? Perfect. Gearbox? Perfect. Handling? Perfect.”</p>
            </div>

        </section>
        <section>
            <img src="{{site.baseurl}}/cars/4.jpg" alt="">
            <div class="desc">
                <p class="num"><span>12</span></p>
                <span class="count">04.</span>
                <p> 2009 Ferrari 458</p>
                <p>“There is nothing to fault. Time spent with this car is time spent with your mouth open and brain
                    readjusting.”</p>
            </div>

        </section>
        <section>
            <img src="{{site.baseurl}}/cars/3.jpg" alt="">
            <div class="desc">
                <p class="num"><span>13</span></p>
                <span class="count">03.</span>
                <p>2003 Rolls Royce Phantom</p>
                <p>“Sublime. A luxury car not so much at the top of the heap as set apart from it.”</p>
            </div>
        </section>
        <section>
            <img src="{{site.baseurl}}/cars/2.jpg" alt="">
            <div class="desc">
                <p class="num"><span>14</span></p>
                <span class="count">02.</span>
                <p>2005 VW Golf GTI</p>
                <p>“There’s no other car that does quite so much, quite so well.”</p>
            </div>
        </section>
        <section>
            <img src="{{site.baseurl}}/cars/1.jpg" alt="">
            <div class="desc">
                <p class="num"><span>15</span></p>
                <span class="count">01.</span>
                <p>2005 Bugatti Veyron</p>
                <p>“Nothing prepares you for the shock of the acceleration when you open the throttle and unleash a
                    thousand horses…”</p>
            </div>

        </section>

    </main>

    <footer>
        <div class="social">
            <p>SOCIAL</p>
            <div class="social-link">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
        <div class="nav-footer">
            <div class="left">
                <li><span>Bulgaria</span></li>
                <li><span>© 2018 MPCR, Inc.</span></li>
                <li><span>All Rights Reserved</span></li>
            </div>
            <div class="right">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Company Details</a></li>
                <li><a href="#">Privacy & Cookie Policy</a></li>
            </div>
        </div>
    </footer>
</body>

</html>