<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top5</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <script src="{{site.baseurl}}/js/topscroll.js"></script>

</head>

<body>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <div class="navbar">
        <li><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li><a href="{{site.baseurl}}/about.html">About</a></li>
        <li><a href="{{site.baseurl}}/top15.html">Top 15</a></li>
        <li><a href="{{site.baseurl}}/top5.html">Top 5</a></li>
        <li><a href="{{site.baseurl}}/contacts.html">Contact</a></li>
    </div>


    <main class='grid-about'>
        <div class="top5-head">
        </div>
        <section class="grid-img">
        </section>
        <div class="num">
            5
        </div>
        <div class='grid-text'>
            <p>This is an area of our 2017 Satisfaction Index that you’d expect Lexus to dominate, so fifth place may
                seem
                a little off the pace for the CT 200h. However, it’s still a mighty fine result for the hybrid hatch
                and places it among the very best cars you can buy for longevity.
            </p>
        </div>

        <section class="grid-img4">
        </section>
        <div class="num4">
            4
        </div>
        <div class='grid-text4'>
            <p>The Dacia proves that an affordable list price is absolutely no barrier to enjoying worry-free
                reliability in a car. The Sandero Stepway is a big success with its owners and they enjoy a score here
                that’s above a Lexus, which is an impressive feat.
            </p>
        </div>

        <section class="grid-img3">
        </section>
        <div class="num3">
            3
        </div>
        <div class='grid-text3'>
            <p>BMW’s compact coupe was only just pipped into third spot by the Mazda CX-3 when it comes to reliability
                but what's more surprising is that this is the only German car in the top 10 here.
            </p>
        </div>


        <section class="grid-img2">
        </section>
        <div class="num2">
            2
        </div>
        <div class='grid-text2'>
            <p>The CX-3 may be a relatively new entrant in the 2017 Satisfaction Index, but its owners already
                appreciate how simple it is to live with thanks to its superb reliability.
            </p>
        </div>


        <section class="grid-img1">
        </section>
        <div class="num1">
            1
        </div>
        <div class='grid-text1'>
            <p>The most reliable car in the 2017 Honest John Satisfaction Index is the Skoda Rapid. Exciting it may not
                be, but it comfortably took the top spot ahead of Mazda CX-3.
            </p>
        </div>
    </main>

    <footer>
        <div class="social">
            <p>SOCIAL</p>
            <div class="social-link">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
        <div class="nav-footer">
            <div class="left">
                <li><span>Bulgaria</span></li>
                <li><span>© 2018 MPCR, Inc.</span></li>
                <li><span>All Rights Reserved</span></li>
            </div>
            <div class="right">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Company Details</a></li>
                <li><a href="#">Privacy & Cookie Policy</a></li>
            </div>
        </div>
    </footer>
</body>

</html>